<nav class="navbar navbar-default navbar-fixed-top navbar-page-pages">
    <div class="container-fluid">
        <div class="navbar-header complete-width">

            <p class="navbar-text pull-left ">
                <a href="#page-list" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left glyphicon-chevron-left-pages-page"> </span>
                </a>
            </p>

            <a class="navbar-brand" id="navbar-text-page-pages" href="#">
                Widgets
            </a>

            <p class="navbar-text pull-right ">
                <a href="#widget-choose" class="navbar-link">
                    <span class="glyphicon glyphicon-plus glyphicon-plus-pages-page"> </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<div class="container">

    <div ng-switch="widget.widgetType"
         ng-repeat="widget in model.widgets">

        <div class="jga-widget">
            <div class="jga-widget-tool">
                <a href="#widget-heading">
                    <span class="glyphicon glyphicon-cog"> </span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <div ng-swich="widget.size" ng-switch-when="HEADER">
                {{widget.size}}
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
                {{widget.text}}
            </div>

            <div ng-switch-when="YOUTUBE">
                <iframe width="560" height="315" ng-src="{{model.checkSafeYoutubeUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
            </div>

            <div ng-switch-when="IMAGE">
                image
            </div>

            <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)"></div>

        </div>

    </div>
<!--
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#widget-heading">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>Millennials Will Live in Cities Unlike Anything We've Ever Seen Before</h4>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#widget-image">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%" src=" http://roa.h-cdn.co/assets/15/43/980x490/landscape-1445630647-petty-mustang-2.jpg"/>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#widget-heading">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p class="first-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#widget-heading">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>Comprehensive up-to-date news coverage, aggregated from sources all over the world by Google </h4>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#widget-youtube">
                <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/j2Rw_OHfCZw" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
</div>
</div>-->

<nav class="navbar navbar-default navbar-fixed-bottom navbar-page-pages">
    <div class="container-fluid">
        <div class="navbar-footer">

            <p class="navbar-text pull-left">
                <a href="#profile" class="navbar-link">
                    <span class="glyphicon glyphicon-play"> </span>
                </a>
            </p>

            <p class="navbar-text pull-left">
                <a href="#profile" class="navbar-link">
                    <span class="glyphicon glyphicon-eye-open"> </span>
                </a>
            </p>



            <p class="navbar-text pull-right">
                <a href="#profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphicon-user-page-pages"> </span>
                </a>
            </p>

        </div>
    </div>
</nav>
